.navbar {
    position: fixed !important;
	width: 100%;
	top: 0;
	left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
  }
  
  .navbar-logo img {
    padding-left: 30px;
    height: 90px;
  }
  
  .navbar-buttons .btn {
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }
  
  .navbar .navbar-buttons .btn-primary {
    background-color: #24486f;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .navbar .navbar-buttons .btn-secondary {
    background-color: #007dea;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .btn-primary:hover,
  .btn-secondary:hover {
    opacity: 0.8;
    text-decoration: none;
  }
  