@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

.dashboard-container {
  padding: 20px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}
  
.personal-info {
  row-gap: 10px;
  display: grid;
  text-align: center;
}
  
.image-section {
  text-align: center;
  margin-top: 20px;
}
  
.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
  
.services {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
  
.services-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 15px;
}
  
.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}
  
.service-item:hover {
  transform: scale(1.05);
}
  
.service-item i {
  font-size: 30px; 
  margin-bottom: 10px; 
}
  
.service-item p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}  

.sign-out {
  width: 100px;
  margin: auto;
}