.main-content {
    width: 1024px;
    text-align: center;
    padding: 20px; /* Add some padding for better spacing */
    padding-top: 120px; /* Adjust this value based on the height of your navbar */
    margin: 0 auto; /* Center the container horizontally */
}
  
h1, p {
    margin: 0;
}
  
h1 + p {
    margin-top: 10px;
}
  
.card {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
    text-align: left;
}
  
.card h2 {
    margin-top: 0;
}
  
.card p {
    margin: 10px 0;
}  